.PC__page {
    padding: 15px 50px;
    /*background-image: linear-gradient(to right, rgba(76, 61, 111, 0.578), rgba(9, 188, 238, 0.594)),
      url('./imageLogIn.jpg');
      height: 550px;
      */
      margin-left: auto;
    margin-right: auto;
   max-width: 600px;
}
.PC__form{
  display: flex;
  flex-direction: column;
  gap: 20px;  
}
.PC__label{
    display: flex;
  flex-direction: column;

   max-width: 400px;
  font-size: 24px;
  font-weight: 600;
    
 
}
.PC__input{
      padding: 15px;
  font-size: 24px;
  border: none;
  box-shadow: 0px 5px 5px rgba(0, 0, 0.5, 0.15),
    0px 1px 1px rgba(0, 0, 0.5, 0.2), 1px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
    color: rgb(255, 145, 0);
}
.PC__button{
    width: 350px;
  padding: 16px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  background-color: rgb(13, 15, 141); 
  color: rgb(248, 249, 250);
  cursor: pointer;
  border-radius: 50px;  
}
.PC__button:hover,
.PC__button:focus {
  background-color: #767ada;
   color: white;
}